@import 'tailwindcss';

/** 
 * watch for changes in the joomla_components directory
 */
@source '../../../../../joomla_components/';

@source inline('{btn,btn-sm,btn-primary,btn-secondary,btn-outline,btn-info,btn-warning,btn-success,btn-danger,text-info,text-warning,text-success,text-danger}');

@import './vendor/theme.css';

/**
 * This injects custom `@font-face` rules.
 */
@import './vendor/fonts.css';

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins, then adds custom base styles.
*/
@import './vendor/base.css';

/**
   * This injects Tailwind's utility classes and any utility classes registered
   * by plugins, then adds custom utility classes.
*/
@import './vendor/utilities.css';

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins, then adds custom component classes.
*/
@import-glob "./vendor/joomla/**" layer(components);
@import-glob "./vendor/components/**" layer(components);
@import './vendor/custom.css' layer(components);
